.landing-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading-container {
  z-index: 2;
  color: #ffffff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.heading-container h1 {
  font-size: 3rem;
  margin: 0;
  font-weight: 900;
  color: white;
}

.heading-container p {
  font-size: 1.2rem;
  margin: 10px 0 20px;
}

.explore-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #ff7e5f, #feb47b);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.heading-container a {
  text-decoration: none;
}
a.explore-button:hover {
  transform: scale(1.1);
}
.background-images {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.img-style {
  position: absolute;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
.img1 {
  top: 10%;
  left: 20%;
  transform: rotate(-15deg);
}

.img2 {
  top: 50%;
  left: 10%;
  transform: rotate(10deg);
}

.img3 {
  top: 30%;
  left: 60%;
  transform: rotate(-8deg);
}

.img4 {
  top: 70%;
  left: 40%;
  transform: rotate(20deg);
}

.img5 {
  top: 20%;
  left: 80%;
  transform: rotate(-25deg);
}

.img-style:hover {
  transform: scale(1.1) rotate(0deg);
}

/* check box */

.checkbox-wrapper-10 .tgl {
  display: none;
}
.checkbox-wrapper-10 .tgl,
.checkbox-wrapper-10 .tgl:after,
.checkbox-wrapper-10 .tgl:before,
.checkbox-wrapper-10 .tgl *,
.checkbox-wrapper-10 .tgl *:after,
.checkbox-wrapper-10 .tgl *:before,
.checkbox-wrapper-10 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-10 .tgl::-moz-selection,
.checkbox-wrapper-10 .tgl:after::-moz-selection,
.checkbox-wrapper-10 .tgl:before::-moz-selection,
.checkbox-wrapper-10 .tgl *::-moz-selection,
.checkbox-wrapper-10 .tgl *:after::-moz-selection,
.checkbox-wrapper-10 .tgl *:before::-moz-selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-10 .tgl::selection,
.checkbox-wrapper-10 .tgl:after::selection,
.checkbox-wrapper-10 .tgl:before::selection,
.checkbox-wrapper-10 .tgl *::selection,
.checkbox-wrapper-10 .tgl *:after::selection,
.checkbox-wrapper-10 .tgl *:before::selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-10 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:after,
.checkbox-wrapper-10 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
 
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02c66f;
  transform: rotateY(-180deg);
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
  background: #ff3a19;
  content: attr(data-tg-off);
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #7fc6a6;
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}

.tgl-btn::before {
  content: attr(data-tg-off);
  font-size: 15px;
}

.tgl:checked + .tgl-btn::before {
  content: attr(data-tg-on);
  font-size: 15px;
}

@media (max-width: 769px) {
  #border-wrapper {
    width: 90%;
    align-items: center;
    margin-right: 0;
  }
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .insta-post {
    width: 90%;
    margin-right: 0;
    margin-bottom: 20px;
    border: 0px solid #000;
  }

  .form-container {
    flex-direction: column;
    display: flex;
    gap: 0px;
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
  }
  .section-one,
  .section-two {
    width: 100%;
    padding: 20px;
  }
  .form-container label {
    font-size: 15px;
  }
  #previews {
    width: 90%;

    overflow-y: hidden;
  }
}

@media (max-width: 325px) {
  .profile-pic {
    width: 35px;
    height: 35px;
  }
 
  
  input[type="checkbox"] {
    transform: scale(1);

    margin-bottom: 12px;
  }
 
  .heading-container h1 {
    font-size: 1.5rem;
  }

  .heading-container p {
    font-size: 0.9rem;
  }

  .explore-button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  .img-style {
    width: 80px;
    height: 80px;
  }
  .heading-container h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .form-container {
    width: 90%;
    padding: 20px 10px 20px 10px;
  }

  .insta-post {
    max-width: 270px;
    min-width: 270px;
  }
  #previews {
    max-width: 270px;
    min-width: 270px;
  }
  .username {
    font-size: 14px;
  }

  .user-id,
  .location {
    font-size: 12px;
  }

  .actions button {
    font-size: 14px;
  }

  .form-container input {
    padding: 5px;
  }
  #image-size {
    font-size: 12px;
  }
 
  .form-container button {
    font-size: 14px;
  }
  #show-border {
    padding-left: 10px;
  }
  .profile-img {
    width: 40px;
    height: 40px;
  ;
  }
}
